<h1>Jack Partain vs. Carl Zimmerman - BTC </h1>
<h2>Bet that price of Bitcoin (BTC) will be greater/less than $14,700 on December 27nd, 2027 </h2>
<h2> Amount wagered:</h2>
<h3> Carl: $1,000 USD </h3>
<h3> Jack: 0.068 BTC </h3>

<h4> Stats: </h4>
<br>
Current Price of Bitcoin:
<br>
<br>

<%= "$#{@btc_usd}"%>

<br>
<br>


Days left until the end of the bet:

<br>
<br>

<%= @days_left %>

<br>
<br>

Who is currently "in the money"?
<br>
<br>
<% if @btc_usd > 14700 %>
<%= "Carl Zimmerman" %>
<% end %>

<% if @btc_usd < 14700 %>
<%= "Alex Gajewski" %>
<% end %>

<% if @btc_usd > 14700 %>

<br>
<br>

Additional facts and figures:
<br>
<br>

If Alex had invested $1,000 into BTC at $13,000 on date of deal, he would be:
<br>
<br>
<%= "$ #{@total_richer} richer" %>
<% end %>
