<h1>Jack Partain vs. Carl Zimmerman - BTC </h1>
<h2>Bet that price of Bitcoin (BTC) will be greater/less than $14,700 on December 27nd, 2027 </h2>
<h2> Amount wagered:</h2>
<h3> Carl: $1,000 USD </h3>
<h3>Jack: 0.068 BTC ($<%=  @jack_bet_price.to_d %>)</h3>

<h4> Stats: </h4>
<br>
Current Price of Bitcoin:
<br>
<br>

<%= "$#{@btc_usd}"%>

<br>
<br>


Days left until the end of the bet:

<br>
<br>

<%= @days_left %>

<br>
<br>

Who is currently "in the money"?
<br>
<br>
<% if @btc_usd > 14700 %>
<%= "Carl Zimmerman" %>
<% end %>

<% if @btc_usd < 14700 %>
<%= "Jack Partain" %>
<% end %>

<% if @btc_usd > 14700 %>

<br>
<br>

Additional facts and figures:
<br>
<br>

If Jack had invested $1,000 into BTC at $14,700 on date of deal, he would be:
<br>
<br>
<%= "$ #{@total_richer} richer" %>
<% end %>

<% if @btc_usd < 14700 %>
<br>
<br>
Additional facts and figures:
<br>
<br>

With Jack's $1000 winnings he will be able to buy himself:
<br>
<br>
<%= "#{@additional_btc} BTC" %>
<br>
<br>
For Carl to be back "in the money" BTC needs to rise:
<br>
<br>
<%= (((14700 - @btc_usd) / 14700) * 100) %> percent or <%= (14700 - @btc_usd) %> USD

<% end %>
